
body {
    background-color: black;
    overflow: scroll y;
    margin: 15%;
}

.title {
    color: yellow;
    font-family: Consolas, monospace;
    text-align: center;
    margin-top: -15%;
}

  
.subtitle {
    color: yellow;
    font-family: Consolas, monospace;
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
}

.character-title {
    color: rgb(255, 255, 255);
    font-family: Consolas, monospace;
    text-align: center;
    margin-top: 50px;
}

.character-info {
    color: yellow;
    font-family: Consolas, monospace;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.img-character {
    display:flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .img-character{
        width: 100%;
        flex-direction: column;
    }
}


.embed iframe {
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    .embed iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
}


.episode-title {
    color: rgb(255, 255, 255);
    font-family: Consolas, monospace;
    text-align: center;
    margin-top: 25px;
}
  
.star {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 5px white;
    animation: twinkle 1s infinite;
    z-index: 9999;
}


@keyframes twinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

  
